examples/
test/
scripts/
.git/
.gitignore
.gitattributes
*.pqd
*.json
!package.json
AUTHORS.MD
CONTRIBUTORS.md
SECURITY.md
ReleaseNotes.txt
zlib/
zlibIntegration.txt
PQDIF.Examples/
PQDIF.Log/
PQDIF.Validator/
PQDIFNet/
pqdiflib/
PQDIFNet.sln
.claude/
